.card {
	width: 100%;
	height: auto;
	border: 2px solid black;
	display: auto;
	margin-top: 10px;
	overflow: scroll;
	text-align: center;
}

h1.projectTitle {
	text-align: center;
	padding: 50px;
	color: white;
	background-color: red;
	margin: 0;
	border-bottom: 2px solid black;
}